* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #eef2f3, #dfe9f3);
}
/* Navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
}

.ul-navbar {
  display: flex;
  gap: 5rem;
}

.ul-navbar li {
  list-style: none;
  margin: 0.5rem;
  font-size: 1.3rem;
}

.ul-navbar li a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.2s ease;
}

.ul-navbar li a:hover {
  color: #555555;
}

.invoiceLogo {
  width: 4rem;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1.5rem;
  }

  .ul-navbar {
    position: fixed;
    top: 0;
    margin: -0.9rem;
    left: -250px;
    height: 110vh;
    width: 250px;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 30px 20px;
    transition: 0.3s ease;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
    margin-top: 4rem;
  }

  .ul-navbar.active {
    left: 0;
  }

  .ul-navbar li {
    width: 100%;
  }

  .ul-navbar li a {
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  .menu-toggle {
    display: block;
    margin: 0.5rem;
  }
}

/* Footer style */
.footer {
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
  margin-top: 50px;
  font-size: 0.9rem;
  margin-bottom: 0%;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer {
    margin-bottom: 0%;
  }
}
